$white: #fff;
$bright-gray: #3B3D52;
$waterloo: #838098;
$magnolia: #E9E6F0;
$rhythm: #6B6880;

$main-gradient: linear-gradient(173deg, #dcf6f6, #009ca5);

$shadow: 0 10px 20px 0 rgba(108, 104, 128, 0.4);
